
.vypad{
	display: none;
}

.tochka{
	font-size: 3em;
	color: #fff;
	
}
ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

 .smenu li a {
  display: inline;
  padding-left: 3%;
  
  text-decoration: none;
  outline: none;
  transition: .3s linear;

}

.smenu {
	display: inline;
 	 width: 9em;

  
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transition-property: visibility, opacity;
}

 .smenu {
  visibility: hidden;
  opacity: 0;
  display: inline;
  
  
}

.smenu li{
	font-family: 'Comfortaa', cursive;
	display: inline;
}

.smenu a{
	color: #fff;
	display: inline;
}


.tmenu  li {
  display: inline;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
}

 ul li:hover .smenu {
  visibility: visible;
  opacity: 1;
}



*{
	padding: 0px;
	margin: 0px;
}
.body{
	
}
.page1{
	background: url(../img/p2imgipad.jpg) no-repeat ;
	
	position: absolute;
	width: 100%;
	height: 100%;
}



.mli{
	position: relative;
}

.mli .vmenu:hover{
	opacity: 1;
	visibility: visible;
}

.vmenu{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}


/*font-family: 'Exo 2', sans-serif;*/

.navi{
	float: right;
	padding-right: 2%;
	width: 350px;
	padding-top: 2%
	
}


.navi li{
	display: inline;
	padding-right: 20%;
	font-family: 'Comfortaa', cursive;
}

.navi li a{
	text-decoration: none;
	transition-duration: 1s;
	transition-property: color;

}

.navi li a:hover{
	color: #68106b;
}

.navi ul li, .nav ul li a{
	display: inline;
	color: #fff;

} 


.p1txt{
	
	font-family: 'Great Vibes', cursive;
	font-size: 4.2em;
	text-align: center;
	margin-top: 3em;
	color: #fff;
}


a{
	text-decoration: none;

}


.feedback{
	width: 120px;
	height: 50px;

	margin-left: 45.5%;
	margin-top: 3%;

	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 105%;

	border: solid 1px #fff;
	border-radius: 1px;

	box-shadow: 0px 0px 10px 0px #fff;

	transition-duration: 1s;
	transition-property: border, color, box-shadow;
}

.feedback:hover {
	
	color: #68106b;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 105%;

	border: solid 1px #68106b ;
	border-radius: 1px;

	box-shadow: 0px 0px 10px 0px #68106b;
}


.fbtext{
	padding-left: 8%;
	padding-top: 10%;
	display: flex;
	align-items: center;
	font-size: 115%;
	
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.1em;


}

	/*mobile version*/

@media only screen 
and (max-device-width: 568px){
	
	.smenu li, .smenu a{
		font-size: -1.5em;
		display: inline;
	} 

	.smenu{
		display: inline;
	}
	.page1{
		height: 617px;
	}

	.vypad{
		display: block;
	}

	.p1txt{
		margin-top: 1.5em;
		font-size: 3.2em;
	}

	.feedback{
			margin-left: 31%;
			box-shadow: 0px 0px 0px 0px;
			

			margin-top: 25%;


			border: solid 1px #fff;
			border-radius: 1px;

			height: 50px;

	}
	.fba{
		padding-top: 15%;
	}
	

	
	.feedback:hover{
		width: 120px;
	height: 50px;

	margin-left: 31%;
	margin-top: 25%;

	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 105%;

	border: solid 1px #fff;
	border-radius: 1px;

	box-shadow: 0px 0px 0px 0px;

	transition-duration: 1s;
	transition-property: border, color, box-shadow;
	}


	.nav{
		display: none;
	}

/*iphone x and google pixel2 xl*/
	@media only screen 
and (min-device-height: 812px)
and (max-device-height: 823px)
and (min-device-width: 370px)
and (max-device-width: 420px)
{

	.smenu li, .smenu a{
		display: block;
		text-align: center;
		padding-top: 10%;
		font-size: 1.1em;
				
	}


	.smenu{
		padding-top: 7%;
	}

	.page1{
		height: 100%;
		


	}


	.tochka{
		display: block;
		margin-top: 2%;
		margin-left: 40%;

	}

	.feedback{
		margin-top: 66%;
		margin-left: 34%;
		border-radius: 10%;
	}
	

	.feedback:hover{
		margin-top: 66%;
		margin-left: 34%;
		border-radius: 10%;
	}

	.p1txt{
		padding-top: 20%;
		margin: 0 0 3.5em 0;
		height: 10%;
		font-size: 355%;
	}





}

/*iphone 6/7/8*/
	@media only screen 
and (height: 667px)
and (width: 375px)
{

	.page1{
		height: 100%;
		background: url(../img/p2imgi6.jpg);

	}
	


}


	@media only screen 
and (device-height: 1024px)
and (device-width: 768px)
{

	.page1{
		height: 100%;
		background: url(../img/p2imgipad.jpg) no-repeat;
		


	}





}



